@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');

body
{
    min-height: 100vh;
    width: 100%;
    background-color: #c9effd;
    background-image: url("https://wallpaperaccess.com/full/1282794.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    font-family: 'Geologica', sans-serif;
}

.estadisticas
{
    position: relative;
    min-width: 300px;
    margin: 10vh 0;
    width: 60%;
    height: 50%;
    border: 10px outset #83DEFF;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    backdrop-filter: blur(10px);
    padding: 5vh;
    text-align: center;
}

.estadisticas .card
{
    background-color: rgba(131, 222, 255, 0.5);
    margin: 3vh;
    height: 300px;
    width: 150px;
    cursor: pointer;
    border: 10px outset #83DEFF;
    border-radius: 50px;
}

img
{
    width: 100px;
}

table
{
    width: 100%;
    border-collapse: collapse;
}

table th, table td
{
    border: 3px solid #FF8A98;
    padding: 1vh;
}

.popup
{
	min-width: 40%;
	text-align: center;
    border-radius: 50px;
    backdrop-filter: blur(10px);
	position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 10px outset #83DEFF;
    padding: 3vh;
    text-align: center;
}

.popup .botonera
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup button
{
    width: 20vh;
    height: 40px;
    background-color: #FF8A98;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    margin: 10px 20px;
    transform: scale(1);
    transition: 0.3s;
    font-family: 'Geologica', sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup button:hover
{
    background-color: #FD5C6F;
    transform: scale(1.1);
}