<nav>
    <a routerLink="" class="logo"><img src="../../../assets/dna.png"></a>
    <ul class="navigation">
        <li><a routerLink="bienvenida">Bienvenida</a></li>
        <li><a routerLink="">Link</a></li>
        <li><a routerLink="">Link</a></li>
        <li><a routerLink="">Link</a></li>
        <li><a routerLink="">Link</a></li>
    </ul>
    <div class="acceso">
        <button routerLink="login"><i class="fa-solid fa-user"></i> Iniciar sesión</button>
        <button routerLink="registro"><i class="fa-solid fa-user-plus"></i> Registrarse</button>
    </div>
</nav>