<body>
    <div class="usuarios">

        <button (click)="descargarExcel()">DESCARGAR EXCEL</button>
        <button routerLink="/registro">REGISTRAR NUEVO USUARIO</button>
        
        <div class="contenedor-fab-buttons">
            <div class="fab-button" *ngFor="let usuario of listaUsuarios">
                <img src="{{usuario.fotoPerfil}}" alt="Foto de perfil">
                <h3>{{usuario.nombre}} {{usuario.apellido}}</h3>
                <button *ngIf="usuario.perfil == 'especialista'" (click)="toggleEspecialistaAprobado(usuario.email)">
                    {{ usuario.aprobado ? 'DESHABILITAR' : 'HABILITAR' }}
                </button>
            </div>
        </div>
        
        
    </div>
</body>
