<body>
    <div class="pacientes">
        <div class="fab-button" *ngFor="let paciente of listaPacientes" (click)="verComentario(paciente)">
            <img [src]="paciente.fotoPerfil" alt="Imagen paciente">
            <div class="container">
              <h4><b>{{paciente.nombre}} {{paciente.apellido}}</b></h4>
            </div>
          </div>
    </div>
    <div class="contenedor-historial" *ngIf="comentario">
        <div class="header-historial">
            <h1>Historia clínica</h1>
            <button (click)="comentario = false;">Salir</button>
        </div>
          <div class="contenedor-datos" *ngFor="let turno of historialPorPaciente">
            <h4>Historial Clínico</h4>
            <ul>
              <li><strong>Fecha:</strong> {{ turno.dia }}</li>
              <li><strong>Hora:</strong> {{ turno.hora }}</li>
              <li><strong>Paciente:</strong> {{ turno.paciente.nombre }} {{ turno.paciente.apellido }}</li>
              <li><strong>Especialista:</strong> {{ turno.especialista.nombre }} {{ turno.especialista.apellido }}</li>
              <li><strong>Peso:</strong> {{ turno.historial.peso }}</li>
              <li><strong>Temperatura:</strong> {{ turno.historial.temperatura }}</li>
              <li><strong>Presión:</strong> {{ turno.historial.presion }}</li>
              <li><strong>Altura:</strong> {{ turno.historial.altura }}</li>
              <li *ngFor="let campo of turno.historial | filtroCampos">
                <strong>{{ campo[0] }}:</strong> {{ campo[1] }}
              </li>
              <button *ngIf="!abrirComentario" (click)="abrirComentario = true">VER RESEÑA</button>
              <li *ngIf="abrirComentario"><strong>Comentario:</strong> {{turno.comentario}}</li>
              <button *ngIf="abrirComentario" (click)="abrirComentario = false">CERRAR</button>
            </ul>
            <hr />
          </div>
    </div>
</body>


